<!DOCTYPE HTML>
<html>
  <head>
    <title>Cards</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <div class="summary">
        <div class="total">{{count}}<span>/待审核</span></div>
      </div>
      <ul class="card-list">
        {% for card in cards %}
        <li>
        <div class="card-item">
          <div class="photo"><img src="{{ card.attributes.img_url }}"/></div>
          <div class="meta">
            <div class="title">{{  card.attributes.name }}</div>
            <div class="content">{{ card.attributes.content }}</div>
          </div>
          <div class="userinfo">
            <div class="avatar"><img src="{{card.attributes.user.attributes.avatarUrl}}"/></div>
            <div class="info">
              <div class="nickname">{{card.attributes.user.attributes.nickName}}</div>
            </div>
          </div> 
        </div>
        </li>

        {% endfor %}
      </ul>
    </div>
  </body>
</html>