<!DOCTYPE HTML>
<html>
  <head>
    <title>Cards</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <script src="http://cdn.bootcss.com/jquery/1.10.0/jquery.min.js"></script>
  <body>
    <div id="container">
      <div class="summary">
        <div class="total">{{count}}<span>/待审核</span></div>
      </div>
      <ul class="card-list">
        {% for card in cards %}
        <li>
        <div class="card-item" id="item{{  card.id }}">
          <div class="photo"><img src="{{ card.img_url }}"/></div>
          <div class="meta">
            <div class="title">{{  card.name }}</div>
            <div class="content">{{ card.content }}</div>
          </div>
          
          <div class="options">
            <div class="pass" data-id="{{  card.id }}">通过</div>
            <div class="reject" data-id="{{  card.id }}">删除</div>
          </div> 
        </div>
        </li>

        {% endfor %}
      </ul>
    </div>
  </body>
<script>
  $(".pass").on("click",function(e){
    var id = $(this).data('id');
    $.get('/mark/review/'+id,{},function(data){
      if(data.code == 200){
        $('#item'+id).remove()
      }

    },"json")
  })
$(".recall").on("click",function(e){
    var id = $(this).data('id');
    $.get('/mark/recall/'+id,{},function(data){
      if(data.code == 200){
        $('#item'+id).remove()
      }

    },"json")
  })  
 $(".reject").on("click",function(e){
    var id = $(this).data('id');
    $.get('/mark/reject/'+id,{},function(data){
      if(data.code == 200){
        $('#item'+id).remove()
      }

    },"json")
  })
</script>
</html>