<!DOCTYPE HTML>
<html>
  <head>
    <title>Users</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <div class="summary">
        <div class="total">{{count}}<span>/总用户</span></div>
      </div>
      <ul class="user-list">
        {% for user in users %}
        <li>
        <div class="user-item">
          <div class="avatar"><img src="{{ user.attributes.avatarUrl }}"/></div>
          <div class="meta">
            <div class="nickname">{{ user.attributes.nickName }}</div>
          </div> 
        </div>
        </li>

        {% endfor %}
      </ul>
    </div>
  </body>
</html>